version: "3.3"
services:
  app:
    build: .
    container_name: leechpro7_bot
    restart: always
    environment:
      - PORT=8000
    ports:
      - "8000:8000"
      - "80:8000"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
